---
import "@fontsource-variable/geist";
import "@/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Shadcn UI Theme Generator is a powerful tool that allows you to create custom color schemes for your UI components. With an intuitive interface and a wide range of options, you can easily design and customize your themes to match your brand or personal style."
    />
    <title>Shadcn UI Theme Generator</title>
  </head>
  <body>
    <slot />
  </body>
</html>
